In [1]:
%load_ext autoreload
%autoreload 2

In [11]:
import pyneb as pn
from helper_functions import *

In [3]:
DataFileDict = {'H1': {'rec': 'h_i_rec_SH95.fits'},
                'O2': {'atom': 'o_ii_atom_FFT04.dat', 'coll': 'o_ii_coll_Kal09.dat'},
                'S2': {'coll': 's_ii_coll_TZ10.dat'}}

pn.atomicData.setDataFileDict(DataFileDict)

In [4]:
diag = pn.Diagnostics()
diag.addDiag('[SII] 6716/6731', ('S2', 'L(6716)/L(6731)', 'RMS([E(6716), E(6731)])'))

In [5]:
H1 = pn.RecAtom('H', 1) #use on the no brackets
O2 = pn.Atom('O', 2)    #use with brackets
O3 = pn.Atom('O', 3)
S2 = pn.Atom('S', 2) 

# Define the number of Monte Carlo iterations:
n = 10 #1500, using 10 as a test case once I get the code working I can increase this

H1: Atomic data: Storey and Hummer 1995, MNRAS, 272, 41

In [6]:
# S2.getCritDensity()       #temperature needed
# S2.getLowDensRatio()      #
# S2.getHighDensRatio()     #

In [7]:
#generating random ratios for OIII and SII for testing purposes
np.random.seed(100101)
random_OIII_ratios = np.random.exponential(scale = 0.1, size = n)
random_SII_ratios = np.random.uniform(low = 0.8, high = 1.2, size = n)

In [8]:
#"[OIII] 4363/5007+" : ('O3', 'L(4363)/(L(5007)+L(4959))', 'RMS([E(5007)*L(5007)/(L(5007)+L(4959)), E(4959)*L(4959)/(L(5007)+L(4959)), E(4363)])')
temp, den = diag.getCrossTemDen('[OIII] 4363/5007+', '[SII] 6716/6731', random_OIII_ratios, random_SII_ratios)

In [9]:
display_summary(random_OIII_ratios, random_SII_ratios, temp, den)

OIII 4363/5007+ = 0.004, SII 6716/6731 = 1.038, T = 9191 K, n_e = 591 cm-3
OIII 4363/5007+ = 0.241, SII 6716/6731 = 0.832, T = nan K, n_e = nan cm-3
OIII 4363/5007+ = 0.002, SII 6716/6731 = 1.050, T = 8125 K, n_e = 537 cm-3
OIII 4363/5007+ = 0.074, SII 6716/6731 = 0.954, T = nan K, n_e = nan cm-3
OIII 4363/5007+ = 0.220, SII 6716/6731 = 0.854, T = nan K, n_e = nan cm-3
OIII 4363/5007+ = 0.116, SII 6716/6731 = 0.832, T = nan K, n_e = nan cm-3
OIII 4363/5007+ = 0.010, SII 6716/6731 = 0.826, T = 12691 K, n_e = 1563 cm-3
OIII 4363/5007+ = 0.014, SII 6716/6731 = 0.863, T = 14755 K, n_e = 1420 cm-3
OIII 4363/5007+ = 0.004, SII 6716/6731 = 0.935, T = 9616 K, n_e = 907 cm-3
OIII 4363/5007+ = 0.075, SII 6716/6731 = 1.094, T = nan K, n_e = nan cm-3

In [13]:
test_temp = assign_temperature(temp, 15000)

NameError: name 'assign_temperature' is not defined

In [12]:
dist_getcritdensity(O3, temp, return_type='df')

,N_crit_1,N_crit_2,N_crit_3,N_crit_4,N_crit_5,Temperature
0,0.0,486.841599,3445.096458,673104.068053,2.353649e+07,9190.797116
1,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,466.448887,3314.979913,647163.211778,2.257348e+07,8125.397237
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,0.0,540.856653,3745.716658,743756.513030,2.667062e+07,12691.287393
7,0.0,566.680422,3866.368804,779348.651541,2.856261e+07,14755.197134
8,0.0,494.362079,3491.056341,682768.717175,2.390225e+07,9615.677533
9,NaN,NaN,NaN,NaN,NaN,NaN